<section class="list-container">
  @for (item of users; track item) {
    <app-card
      [user]="item"
      (eventSelect)="handleSelect($event)"
      (eventDelete)="handleDelete($event)">
    </app-card>
  }
</section>

<p>Contador {{counter()}}</p>
<button (click)="upCounter()">➕</button>

<div class="form-container">
  Formulario
  <input type="text" placeholder="nombre" [(ngModel)]="name">
  <input type="text" placeholder="stack" [(ngModel)]="stack">

  <button (click)="add()">Agregar</button>
  <button (click)="edit()">Editar</button>
</div>
