.card-container {
  border: 3px dashed black;
  display: flex;
  height: 10rem;
  padding: 1rem;
  flex-direction: column;
  transition: 100ms;
}

.selected {
  background-color: rgba(0, 128, 0, 0.36);
  border: 2px solid green;
}

.unselected {
  background-color: rgba(155, 195, 224, 0.36);
}
