<section class="login-container">
  <h1>SISTEMA GDG</h1>
  <h3>Login</h3>

  <form (submit)="onSubmit($event)" class="form-login">
    <!--    email-->
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        [formField]="loginForm.email"
        matInput
        placeholder="Correo">
    </mat-form-field>

    @if (loginForm.email().touched() && loginForm.email().invalid()) {
      <div class="error-container">
        @for (error of loginForm.email().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      </div>
    }

    <!--    password-->
    <mat-form-field>
      <mat-label>Contrasena</mat-label>
      <input
        [formField]="loginForm.password"
        matInput
        type="password"
        placeholder="Contrasena">
    </mat-form-field>

    @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <div class="error-container">
        @for (error of loginForm.password().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      </div>
    }
    <button matButton="filled" type="submit" [disabled]="loginForm().invalid()">Ingresar</button>
  </form>
</section>
